/* COMMON STYLING FOR ALL PAGES */

body {
    font-family: Verdana, Arial, sans-serif;
}
#wrapper {
    background-color: #E2D1B2; 
    color: #000066;
    width: 80%;
    margin: auto;
    min-width:800px;
} 
header {
    background-color: #D0B38D;
    color: #00005D; 
    font-size: 150%; 
    padding: 10px 10px 10px 185px;

}
footer {
    padding: 10px;
    background-color: #D0B38D;
    font-size: 70%;
    text-align: center;
    clear: right;
    padding-bottom: 20px;
}
h2 {
    color: #2C0000; 
    font-family: arial, sans-serif;
}

/* Navigation bar */
nav {
    position: fixed;
}	
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
nav a {
    text-decoration: none;
    color: #A48269;
    font-weight: bold;
}
nav ul li a.active-page
{
  color:#5c320e;
}

/* Two columns styling */
#leftcolumn {
    float: left;
    width: 150px;
    text-align: center;
    color: #D0B38D;
} 
#rightcolumn {
    margin-left: 155px;
    background-color: #ffffff;
    color: #340405;
} 

#img {
    margin: auto;
}
#centered {
    margin: auto;
}

/* HOME PAGE CLASSES AND IDS */
.content {
    padding: 20px 20px 0 20px; 
    background-color: #F5F4DD;
    min-height: 300px;
} 
#content-left {
    float: left;
    min-height: 160px;
}
#floatleft {
    margin: 10px;
    float: left;
}
#flexed {
    display: flex;
}
#homeul {
    list-style-image: url(img/coffee-icon.png);
}

/* TABLE STYLINGS FOR MENU, MUSIC, JOBS, CHANGE PRICE, SALES REPORT */
#table-row-1{ /*for darker color rows*/
    background-color: #D0B38D;
    padding: 20px;
}
#table-leftcol {
    text-align: center;
    font-weight: bold;
    font-size: 110%;
}
#table-rightcol {
    padding: 10px;
}
#table-thirdcol {
    text-align: left;
    padding: 10px;
    font-size: small;
}
.table-fourthcol {
    text-align: center;
    padding: 10px;
    font-size: small;
}
#table-colspan { /*for month in Music page*/
    text-align: left;
    font-weight: bold;
    font-size: 110%;
}
input[type='number']{
    width: 40px;
} 
#update-checkbox {
    text-align: center;
    background-color: #F5F4DD;
}
input[type='checkbox'] {
    width: 100px;
    height: 30px;
}
.report-checkboxes input[type='checkbox'] {
    width: 100px;
    height: 20px;
}

/* FORM STYLINGS FOR JOBS PAGE */
#form-label {
    text-align: right;
}



