body {
    font-family: Verdana, Arial, sans-serif;
    margin: 0; /*Added both margin and padding equal 0 to remove white outlines*/
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    background-color: #FCF8F3; 
    width: 100%; /*Changed it to 100% width*/
    margin: auto;
    min-width: 800px;
} 
header {
    background-color: #F9F1E7;
    padding: 30px 10px; /*Removed additional 50px and 10px and changed 50px to 30px for a smaller navbar height*/
}
#header-logo {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 2.3vw;
    line-height: 29px;
    color: #000000;
    padding: 10px; /*Removed the 185px left padding to make logo align better with design*/
}

/* Navbar stuff */
nav {
    overflow: hidden;
}
/* Style the links inside the navigation bar */
nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* Change the color of links on hover */
nav a:hover {
    background-color: #ddd;
    color: black;
}
/* Style the "active" element to highlight the current page */
nav a.active {
    font-weight: bold;
    color: white;
}
/* Style the search box inside the navigation bar */
nav input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
nav .search-container {
    float: left;
}
nav .search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
nav .search-container button:hover {
    background: #ccc;
}
nav .account-info {
    float: right;
}

/* Added content padding */
.content{
    padding: 2% 10%;  
}


/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    nav .search-container {
        float: none;
    }
    nav a, nav input[type=text], nav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    nav input[type=text] {
        border: 1px solid #ccc;  
    }
}

/* Footer stuff */
hr {
    color: #c5c4c4;
}
footer {
    padding: 10px;
    font-size: 70%;
    text-align: center;
    clear: right;
    padding-bottom: 20px;
}
footer .column-5 {
    float: left;
    width: 20%;
}
footer .row:after {
    content: "";
    display: table;
    clear: both;
}
footer p {
    color: #757575;
}
footer a {
    text-decoration: none;
}


/* MY CART PAGE */
.my-cart{
    display: flex;
}
.my-cart-items, .my-cart-total{
    border: 1px solid black;
    min-height: 200px;
}

.my-cart-items{
    min-width: 80%
}

.my-cart-total{
    min-width: 18%;
}

.my-cart-total{
    margin-left: 20px;
}


/* JOIN US PAGE */
.join-us-header{
    text-align: center;
}

.join-us-header h1{
    font-size: 60px;
    font-weight: 440;
}
.join-us-form{
    text-align: center;
}
.join-us-form-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 0px;
    margin-top: 100px; 
    background-color: white;
    border: 1px solid black;
    padding: 50px;
  }
  
.join-us-form-box .inputBox{
    position: relative;
    margin: 0 0 35px 0;
    padding: 10px 0;
    border: 1px solid black;
  }
  
.join-us-form-box .inputBox.w50{
    width: 47%;
  }
  
  .join-us-form-box .inputBox.w100{
    width: 100%;
  }
  
  .join-us-form-box .inputBox input,
  .join-us-form-box .inputBox textarea{
    width: 100% !important;
    padding: 5px 0;
    resize: none;
    font-size: 18px;
    font-weight: 300;
    color: black;
    border: none;
    /* border-bottom: 1px solid #777; */
    outline: none;
    background:transparent;
  }
  
  .join-us-form-box .inputBox textarea{
    min-height: 120px;
  }
  
  .join-us-form-box .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px;
    font-size: 16px;
    font-weight: 300;
    color: black;
    transition: 0.3s;
    pointer-events: none;
  }
  
  .join-us-form-box .inputBox input:focus ~ span,
  .join-us-form-box .inputBox textarea:focus ~ span,
  .join-us-form-box .inputBox input:valid ~ span,
  .join-us-form-box .inputBox textarea:valid ~ span{
    transform: translateY(-35px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #757575;
  }
  
.join-us-form  .inputBox input[type="submit"]{
    position: relative;
    font-size: 16px;
    cursor: pointer;
    background-color: #F8E1D3;
    color: black;
    border: none;
    min-width: 150px;
    margin-top: 20px;
    padding: 12px 20px;
    opacity: 0.9;
  }
  
.inputBox input[type="submit"]:hover{
    background: #777;
    color: black;
  }

/* LOGIN PAGE */

.login-form{
    padding: 2% 25%;
}
.login-form-box{
    position: relative;
    display: flex;
    flex-direction: column; 
    background-color: white;
    border: 1px solid black;
    padding: 50px 80px;
  }

.login-form-input{
  margin: 10px 0;
}

.login-form-input input{
  float: right;
  width: 60%;
}

.login-form-submit{
  text-align: center;
}

.login-form-submit input{
  padding: 10px 40px;
  margin-top: 20px;
}

